footer {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background: #FFE641;
  display: block;
}

@media (max-width: 450px) {
  footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  footer p {
    margin: 0;
  }
}

.gambar {
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}